/*BASE STYLE*/
body {
    background-color: black;
    color: white;
}

/*GRID*/

.full-width {
    width: 1400px;
    margin: 0 auto;
}

.half-width {
    width: 50%;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/*HEADER*/

nav {
    float: right;
    padding: 15px 25px 0 25px;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    border-inline-end-width: initial;
}

li {
    display: inline-block;
    margin-right: 25px;
}

a {
    color: white; 
    text-decoration: none;
    background: -webkit-linear-gradient(white, rgb(91, 100, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 48px;
    background: linear-gradient(rgb(0, 23, 49), rgb(17, 54, 95));
    border-bottom: 3px ridge rgb(230, 230, 230);
}

.fixed h2 {
    margin: 10px 0 15px 50px;
    background: -webkit-linear-gradient(white, rgb(91, 100, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}

#header h1 {
    width: 800px;
    margin: 30px;
    clear: both;
    font-family: 'Cormorant Garamond', serif;
    font-size: 72px;
    line-height: 80px;
    color: #E6E6FA;
    padding: 280px 25px 25px 275px;
    background: -webkit-linear-gradient(white, white, rgb(105, 116, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header {
    height: 800px;
    background-size: 1600px 800px;
    background-repeat: no-repeat;
    background-image: url('../img/blue-metal.jpg');
    border-bottom: 4px groove rgb(230, 230, 230);
}

/*PORTFOLIO*/
#work {
    height: 2200px;
    background-size: 1550px 2200px;
    background-image: url('../img/blue-metal1.jpg');
    overflow: auto;
    border-bottom:  4px ridge rgb(240, 240, 240);
}

#work .full-width {
margin: 0 0 0 100px;


}

#work h2 {
    width: 1320px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 60px;
    color: #E6E6FA;
    background: -webkit-linear-gradient(white, rgb(105, 116, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 50px 0 10px 0;
    font-family: 'Cormorant Garamond', serif;
}

#work a img {
    width: 580px;
    height: 290px;
    margin: 20px;
}

#work p {
    width: 300px;
    height: 240px;
    margin: 20px;
    background: -webkit-linear-gradient(white, rgb(105, 116, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
}

#work h3 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0 0 20px;
    background: -webkit-linear-gradient(white, rgb(105, 116, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cormorant Garamond', serif;
}

.subheader {
    font-variant: small-caps;
    font-size: 20px
}


/*ABOUT*/
#about {
    height: 600px;
    background-size: 1550px 600px;
    background-repeat: no-repeat;
    background-image: url('../img/abstract.png');
    overflow: auto;
    border-bottom: 3px ridge rgb(92, 92, 92);
}

#about h2 {
    width: 1300px;
    clear: both;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 60px;
    color: #E6E6FA;
    margin: 50px 0 0 40px;
    background: -webkit-linear-gradient(white, rgb(105, 116, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cormorant Garamond', serif;

}

#about p {
    width: 975px;
    text-align: justify;
    clear: both;
    font-size: 40px;
    color: #E6E6FA;
    margin: 40px 50px 50px 180px;
    line-height: 75px;
    padding: 25px;
    background: -webkit-linear-gradient(white, rgb(92, 102, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Cormorant Garamond', serif;
}

/*CONTACT*/
#background{
    background: radial-gradient(rgb(17, 51, 90), black);
}

#contact {
    overflow: auto;
}

#contact .full-width  {
    height: 400px;
    text-align: center;
}

#contact .third-width {
    margin: 0 30px;
    background: -webkit-linear-gradient(white, rgb(91, 100, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

#contact h1 {
    background: -webkit-linear-gradient(white, rgb(91, 100, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
}

#contact h2 {
    background: -webkit-linear-gradient(white, rgb(91, 100, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;

}

#contact a p {
    font-family: 'Raleway', sans-serif;
}

#span {
    background: -webkit-linear-gradient(white, rgb(91, 100, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
}

#goodbye {
    margin: 65px 0 0 0;
    font-size: 45px;
    font-variant: small-caps;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

.small-icon {
    padding: 0 10px 0 10px;
    height: 32px;
    width: 32px;
    position: relative;
    top: 10px;
    left: 3px;
    margin: 0 0 0 70px;
}

#align {
padding: 0 0 0 15px;
}

.icon {
    margin: 10px 0 0 0;
    padding: 0 10px 0 10px;
    height: 80px;
    width: 80px;
}

.contact-img {
    height: 200px;
    width: 350px;
    margin: 25px;
}
/*FOOTER*/

footer {
    padding: 0 0 10px 0;
    bottom: 0;
    clear: both;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px
}
