section {
	width: 1200px;
	margin: 100px auto;
}

.half-width {
	width: 500px;
	padding: 40px;
    float: left;
}

section h1, h2,
section p {
	text-align: center;
	color: teal;
	margin: 20px auto;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
	font-size: 70px;
}

section p {
	font: 35px 'Open Sans';
	color: darkcyan;
}

footer {
	font: 5px 'Open Sans';
	width: 1200px;
	text-align: center;
}
